header
{
	display: flex;
	flex-direction: row;
	position: fixed;
	background-color: red;
	width: 99%;
	top: 0px;
    z-index: 100;
}

#logo
{
	height: 20vh;
	width: 25%;
	background-color: yellow;
}

nav
{
	background-color: green;
	width: 75%;
	text-align: right;
	padding-top: 4vh;
}

nav ul li
{
	list-style: none;
	font-size: 30px;
	display: inline;
	padding-right: 8%;
}
nav ul li a
{
	text-decoration: none;
}

main
{
	background-color: blue;
	height: 110vh;
	display: flex;
	padding-top: 25vh;

}
 h1
 {
 	margin-top: 0px;
 }
